<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs")  %>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <header>
            <%- include("../partials/header.ejs")  %> 
        </header>
        <main class="main-login">
            <%- include("../partials/hb.ejs")  %>
            <section class="bienvenida">
                <h1>Bienvenido a eData-LOG</h1>
            </section>
            <section class="login-box">
                <h2>Login</h2>
                <form action="/users/access" method="post" id="formulario">
                    <div id="formulario1">
                        <input type="email" 
                           placeholder="email"
                           name="email"
                           value="<%= locals.errores && !locals.errores.email && locals.data ? locals.data.email : null %>"
                           class="class-barra"
                           id="email-id">
                           <p class="class-barra-error" id="legenda-error">El email tiene solo puede ser letras, numeros y debes poner el "@" y ".com"</p>
                           <% if (locals.errores && locals.errores.email) { %>
                            <p class="feedback">
                                <%= locals.errores.email.msg  %> 
                            </p>
                            <% } %>
                    </div>
                    <div id="formulario2">
                        <input type="password"
                           placeholder="contraseña"
                           name="password"
                           value="<%= locals.errores && !locals.errores.password && locals.data ? locals.data.password : null %>"
                           class="class-barra"
                           id="password-id">
                           <p class="class-barra-error" id="legenda-error">La contraseña debe contener minimo 6 digitos</p>
                           <% console.log(locals.errores) %> 
                           <% if (locals.errores && locals.errores.password) { %>
                            <p class="feedback">
                                <%= locals.errores.password.msg  %> 
                            </p>
                            <% } %>
                    </div>
                    <button type="submit" class="botton-form">Enviar</button>
                </form>
            </section>
        </main>
        <footer class="main-footer">
            <%- include ("../partials/footer.ejs") %> 
        </footer>
        <script src="/scripts/login.js"></script>
        <script src="/scripts/hb.js"></script>
    </body>
</html>